#TITANIC DATA##
#OBJECTIVE: which passengers survived : 0:not survived(dead) 1:survived
data=read.csv("D:\\Kaggle-Competitions\\train.csv",header=TRUE)
head(data)
pacman::p_load(mice)
#Missing value treatment
NAdata=read.csv("D:\\Kaggle-Competitions\\train.csv",header=TRUE,na.string=c(""))
#find out number of missing value
sapply(NAdata,function(x) sum(is.na(x)))
#___________________________MISSING VALUE TREATMENT____________________#
#subsetting data 
#removing the missing embarked data(2 rows) & removing unwanted columns
fi=NAdata[!is.na(NAdata$Embarked),]
head(fi)
final_data=fi[,c(2,3,5,6,7,8,12)]
head(final_data)
sapply(final_data,function(x) sum(is.na(x)))
#uNIVARIATE ANALYSIS
#Plotting boxplot Pclass against Age , keeping survived as a factor
ggplot(final_data,aes(x=as.factor(Pclass),y=Age,fill=factor(Survived),colour=factor(Survived)))+geom_boxplot(outlier.colour="black")+xlab("Pclass")+ylab("Age") 
#conclusion
#Plotting boxplot SEX against Age , keeping survived as a factor
ggplot(final_data,aes(x=as.factor(Sex),y=Age,fill=factor(Survived),colour=factor(Survived)))+geom_boxplot(outlier.colour="black")+xlab("Sex")+ylab("Age") 
#conculsion
#imputation of missing value using mice package - method=pmm

#tempData <- mice(final_data,m=5,maxit=50,meth='pmm',seed=500)
#summary(tempData)
#cmpdata=complete(tempData,4)
#hist(cmpdata$Age)
final_data$Age[is.na(final_data$Age)]<-median(final_data$Age,na.rm=TRUE)
hist(final_data$Age)
