####################################################################
#Importing Raw data
raw_data=read.csv("F:\\learning\\titanic\\train.csv",header=TRUE)
raw_data
#Data Cleaning
##Replacement with NA
NAdata=read.csv("F:\\learning\\titanic\\train.csv",header=TRUE,na.strings=c(""))
NAdata
#No of missing values in each column
sapply(NAdata,function(x) sum(is.na(x)))
#removing missing observation-row
fidata1=NAdata[!is.na(NAdata$Embarked),]
#replacing missing value with median age
fidata1$Age[is.na(fidata1$Age)]<-median(fidata1$Age,na.rm=TRUE)
#subsetting final data-after exploring
final_data=fidata1[,c(2:10,12)]
#check for missing values
sapply(final_data,function(x) sum(is.na(x)))
names(final_data)
#Model building
IV=final_data[,c(2,4:7,10)]
q=names(IV)
DV=final_data$Survived
eqn=paste("DV~",paste(q,collapse="+"))
#logistic Regression
#install.packages("car")
Model=glm(eqn,family="binomial",data=final_data)
summary(Model)
#Variable selection(Backward selection)
VS=step(Model,selection="backward")
IV1=final_data[,c(2,4:6,10)]
q1=names(IV1)
eqn1=paste("DV~",paste(q1,collapse="+"))
Model1=glm(eqn1,family="binomial",data=final_data)
summary(Model1)




